<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ 'meta.error.404.title'|trans }}</title>
        <meta name="description" content="{{ 'meta.error.404.description'|trans }}" />
        <meta name="robots" content="noindex, nofollow" />
        
        <meta name="lang" content="{{ app.request.locale }}"/>
        <meta name="author" content="Christian Garcia"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/error.css') }}" type="text/css" rel="stylesheet" />
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="page">
            <div id="main_error" class="crumpled_foil">
                <div id="text_error_es">
                    <p class="title_error">ERROR 404, p치gina desconocida o no disponible</p>
                    <p>Mis disculpas, pero la p치gina que buscaba no est치 disponible en estos momentos, por favor haga click en la siguiente imagen para volver a la p치gina inicial.</p>
                </div>
                <div id="text_error_en">
                    <p class="title_error">404 ERROR, unknown or unavailable page</p>
                    <p>My apologies, but the page which you were looking for is not available now, please click on the next image to return to the home.</p>
                </div>
                <div id="link_to_home">
                    <a href="{{ url('christiangh_main_cgh_website_homepage') }}"><img src="{{ asset('images/cgh-logo-trans.png') }}" /></a>
                </div>
            </div>
        </div>
    </body>
</html>