<div id="background">
    <p id="presentation">{{ 'content_social_icons_ghris.presentation'|trans|raw }}</p>
    <ul id="social_listing">
        <li><img src="{{ asset('contents/'~content.getKeyName()~'/images/linkedin.png') }}" title="LinkedIn" alt="LinkedIn {{ 'content_social_icons_ghris.icon'|trans }}" /></li>
        <li><img src="{{ asset('contents/'~content.getKeyName()~'/images/facebook.png') }}" title="Facebook" alt="Facebook {{ 'content_social_icons_ghris.icon'|trans }}" /></li>
        <li><img src="{{ asset('contents/'~content.getKeyName()~'/images/twitter.png') }}" title="Twitter" alt="Twitter {{ 'content_social_icons_ghris.icon'|trans }}" /></li>
        <li><img src="{{ asset('contents/'~content.getKeyName()~'/images/google-plus.png') }}" title="Google +" alt="Google + {{ 'content_social_icons_ghris.icon'|trans }}" /></li>
        <li><img src="{{ asset('contents/'~content.getKeyName()~'/images/github.png') }}" title="GitHub" alt="GitHub {{ 'content_social_icons_ghris.icon'|trans }}" /></li>
        <li><img src="{{ asset('contents/'~content.getKeyName()~'/images/codepen.png') }}" title="CodePen" alt="CodePen {{ 'content_social_icons_ghris.icon'|trans }}" /></li>
        <li><img src="{{ asset('contents/'~content.getKeyName()~'/images/soundcloud.png') }}" title="SoundCloud" alt="SoundCloud {{ 'content_social_icons_ghris.icon'|trans }}" /></li>
        <li><img src="{{ asset('contents/'~content.getKeyName()~'/images/rss.png') }}" title="RSS" alt="RSS {{ 'content_social_icons_ghris.icon'|trans }}" /></li>
    </ul>
    <p id="info">*{{ 'content_social_icons_ghris.info'|trans|raw }}</p>
    <p id="message">{{ 'content_social_icons_ghris.message'|trans|raw }}</p>
</div>