{% extends 'ChristianghMainCghWebsiteBundle::layout.html.twig' %}

{% block metas %}
    <title>{{ 'meta.home.title'|trans }}</title>
    <meta name="description" content="{{ 'meta.home.description'|trans }}" />
    <meta name="keywords" content="{{ 'meta.home.keywords'|trans }}" />
    <meta name="google-site-verification" content="6Fi--Jm9wFjg1M4NaM-inczcouoZTXahO_dg48IGEqA" />
{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
    <link rel="stylesheet" href="{{ asset('js/jquery-highlighter-1.0/css/jquery.highlighter.css') }}" />
{% endblock %}
 
{% block main %}

<main>
{% spaceless %}
    <section id="presentation">
        <article class="paper">
            <div id="main_picture" class="photo">
                <img src="{{ asset('images/clip.png') }}" id="clip_picture" />
                <img src="{{ asset('images/christian_garcia_herreras-dublin.jpg') }}" class="photo_image" alt="Christian García Herreras, Dublin" {% if app.request.locale == 'es' %}title="Foto en Dublin (Irlanda)"{% else %}title="Picture in Dublin (Ireland)"{% endif %} />
            </div>
            <div class="text_in_foil">
                <div id="my_photo_area"></div>
                <h2 class="my_greeting">{{ 'home.paper1.title'|trans }}</h2>
                <p>{{ 'home.paper1.text'|trans|raw }}</p>
            </div>
        </article>
        <article class="paper">
            <div class="text_in_foil">
                <div class="foil_2_free_space_left"></div>
                <div class="foil_2_image_space_left"></div>
                <h2 class="my_greeting">{{ 'home.paper2.title'|trans }}</h2>
                <p>{{ 'home.paper2.text'|trans|raw }}</p>
                <img src="{{ asset('images/backend_graph.png') }}" id="backend_graph" alt="Christian García Herreras, backend" {% if app.request.locale == 'es' %}title="Mis conocimientos en programación backend"{% else %}title="My backend knowledge"{% endif %} />
            </div>
        </article>
        <article class="paper">
            <div class="text_in_foil">
                <div class="foil_3_free_space_left"></div>
                <div class="foil_3_image_space_left"></div>
                <h2 class="my_greeting">{{ 'home.paper3.title'|trans }}</h2>
                <p>{{ 'home.paper3.text'|trans|raw }}</p>
                <img src="{{ asset('images/frontend_graph_'~app.request.locale~'.png') }}" id="frontend_graph" alt="Christian García Herreras, frontend" {% if app.request.locale == 'es' %}title="Mis conocimientos en programación frontend"{% else %}title="My frontend knowledge"{% endif %} />
            </div>
        </article>
        <article class="paper">
            <div class="text_in_foil">
                <div class="foil_4_free_space_left"></div>
                <div class="foil_4_free_space_right"></div>
                <div class="foil_4_image_space_left"></div>
                <div class="foil_4_image_space_right"></div>
                <h2 class="my_greeting">{{ 'home.paper4.title'|trans }}</h2>
                <p>{{ 'home.paper4.text'|trans|raw }}</p>
            </div>
            <div id="football_picture" class="photo">
                <img src="{{ asset('images/christian_garcia_herreras_football.jpg') }}" class="photo_image" {% if app.request.locale == 'es' %}alt="Christian García Herreras, fútbol" title="Jugando a fútbol"{% else %}alt="Christian García Herreras, football" title="Me playing football"{% endif %} />
            </div>
            <div id="travel_picture" class="photo">
                <img src="{{ asset('images/christian_garcia_herreras_cliffs_of_moher.jpg') }}" class="photo_image" {% if app.request.locale == 'es' %}alt="Christian García Herreras, Cliffs of Moher" title="Foto en Cliffs of Moher"{% else %}alt="Christian García Herreras, Cliffs of Moher (Ireland)" title="Picture in Cliffs of Moher"{% endif %} />
            </div>
        </article>
    </section>
{% endspaceless %}
</main>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/jquery-ui-1.11.2/jquery-ui-1.11.2.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/jquery-highlighter-1.0/jquery.highlighter.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/index.js') }}" type="text/javascript"></script>
{% endblock %}